awscli==1.19.42
bcrypt==3.2.0
boto3==1.17.42
botocore==1.20.42
cffi==1.14.5
click==7.1.2
colorama==0.4.3
cryptography==3.4.7
docutils==0.15.2
fastapi==0.63.0
greenlet==1.0.0
h11==0.12.0
httptools==0.1.1
jmespath==0.10.0
mangum==0.11.0
pyasn1==0.4.8
pycparser==2.20
pydantic==1.8.1
PyMySQL==1.0.2
python-dateutil==2.8.1
python-dotenv==0.16.0
python-gettext==4.0
pytz==2021.1
PyYAML==5.4.1
rsa==4.7.2
s3transfer==0.3.6
six==1.15.0
SQLAlchemy==1.4.4
starlette==0.13.6
transaction==3.0.1
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.13.4
uvloop==0.15.2
watchgod==0.7
websockets==8.1
zope.component==5.0.0
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.0.1
zope.i18nmessageid==5.0.1
zope.interface==5.3.0
zope.location==4.2
zope.proxy==4.3.5
zope.schema==6.1.0
zope.sqlalchemy==1.3
